.wrap {
  padding: 10px;
  background-color: #f8c38b;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
  transition-duration: 0.3s;
  margin: 30px;
  height: 45px;
  width: fit-content;

  &:hover {
    scale: 1.15;
    color: #f8c38b;
    background-color: #00ced1;
  }
}

.X {
  padding: 10px;
  background-color: transparent;
  border-radius: 25px;
  margin: 30px;
  color: #e9edf5;
  cursor: pointer;
  border: 1px solid #6495ed;
  transition-duration: 0.3s;

  &:hover {
    scale: 1.15;
    color: white;
    background-color: #db0606;
    border: none;
  }
}
